*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #f1f0ea;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
    color: #f1f0ea;
}

p{
    color: #f1f0ea;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f1f0ea; /* color de fondo */
    padding: 10px;
    border-radius: 20px; /* bordes curvos */
}

a {
    color: #2d232e;
    text-decoration: none;
    padding: 5px 10px;
}

a.current {
    background-color: #e0ddcd; /* color de fondo con sombreado */
    border-radius: 20px; /* bordes curvos */
}

a:hover {
    background-color: #d6d3c3; /* Cambio de color al pasar el ratón por encima */
    border-radius: 20px;
}


/*
div{
    border: solid 1px #2d232e;
}
*/

.card{
    display: flex;
    align-items: center;
    padding: 40px;
    margin: 40px;
    justify-content: space-around;

    
}

.textoncard{
    display: flex;
    align-items: right;
    text-align: center;
    border: solid 5px #2d232e;
    padding: 100px;
    margin-left: 100px;
    border-radius: 10px;
    background-color: #2d232e;
    
}

.profile_picture{
    border-radius: 10px;
}

